<div class="jumbotron jumbotron-fluid bg-dark" style="color: white">
  <div class="container">
      <h1 class="display-4">My Ticket</h1>
      <p class="lead">Your personal ticketing portal for UberTicket.</p>
  </div>
  <br>
  <br>
  <hr class="text-white border border-white" >
  <ul class="list-group list-group-horizontal-lg ">
    <li class="list-group-item bg-dark" ><a class="nav-link text-white" routerLink=""  >Home</a></li>
    <li class="list-group-item bg-dark" ><a class="nav-link text-white" routerLink="/tickets" >Tickets</a></li>
    <li class="list-group-item bg-dark" ><a class="nav-link text-white" routerLink="/about-us" >About Us</a></li>
    <div class="col-6 text-right">
    
    </div>
  </ul>
  <button *ngIf="isLogged" (click)="onLogout()" class="btn btn-light" style="float: right; margin-top:-51px; margin-right: 10px;">Logout</button>
</div>
