<div class="container bg-dark">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="#" routerLink="/" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white"  routerLink="tickets">Tickets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white"  routerLink="about-us">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white"  routerLink="login">Login</a>
              </li>
          </ul>
        </div>
      </nav>
</div>