
<div class="contianer tickets-content" >
        <h1>Tickets</h1>
        <strong>Total: {{total}} records</strong>
  
        <div class="row">
              <table class="table">
                      <thead>
                        <tr>
                       
                          <th scope="col">Name</th>
                          <th scope="col">Assignee</th>
                          <th scope="col">Priority</th>
                          <th scope="col">Status</th>
                          <th scope="col">Options</th>
                        </tr>
                      </thead>
                      <tbody >
                        <tr *ngFor="let ticket of tickets">
                          <th scope="row">{{ticket.template.name}}</th>
                          <td>{{ticket.assignee ? ticket.assignee : 'Unassigned'}}</td>
                          <td>{{ticket.priority }}</td>
                          <td>{{ticket.status }}</td>
                        <td>   <button class="btn btn-dark"
                          type="button"
                          [routerLink]="'ticket-view/' + ticket?.id + '/view'">
                         view
                  </button></td>
                          <td></td>
                        </tr>
                      
                      </tbody>
                    </table>
        </div>
  </div>




